.header__nav-item a,
.header__nav-item a:visited,
.header__nav-item a:hover,
.header__nav-item a:active {
  color: var(--color-text-primary);
  text-decoration: none;
}

.header__nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__nav-item.nav-item--active {
  background-color: var(--color-surface-primary);
  box-shadow: inset 0 4px 0 var(--color-accent-pink);
}
