.matchup-table {
  padding-top: 16px;
}

.matchup-table__title {
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 400;
  text-align: center;
  padding-bottom: 8px;
}

.matchup-table__paging-title {
  display: flex;
  justify-content: space-between;
  width: 216px;
  margin: 0 auto;
}

.matchup-table__paging-title h1 {
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: 400;
  font-family: var(--font-accent-primary);
}

.matchup-table__paging-title button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.matchup-table__paging-title svg {
  color: var(--color-text-primary);
  position: relative;
  top: 2px;
  font-size: clamp(1rem, 3vw, 1.1rem);
  cursor: pointer;
}

.matchup-table__points {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin: 0 auto;
  padding-top: 8px;
  font: italic 600 1.1rem var(--font-accent-primary);
  font-variant-numeric: tabular-nums;
}

.matchup-table__points p {
  color: var(--points-color, inherit);
}

@media screen and (max-width: 420px) {
  .matchup-table__paging-title {
    width: 192px;
  }

  .matchup-table__paging-title svg {
    top: 0;
  }
}

@media screen and (max-width: 760px) {
  .matchup-table__points {
    width: 256px;
  }
}
