/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
  font-family: var(--font-base);
  background-color: var(--color-background-main);
  color: var(--color-text-primary);
}

h1,
h2,
h3 {
  font-family: var(--font-accent-primary);
  text-transform: uppercase;
}

.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  -webkit-tap-highlight-color: transparent;
}

.page-content__wrapper {
  max-width: 1186px;
  margin: 48px auto 0 auto;
  padding: 40px;
  background-color: var(--color-surface-primary);
  border: 1px solid var(--color-accent-gray);
  border-radius: 8px;
}

.quarterback--text {
  color: var(--position-QB);
}

.runningback--text {
  color: var(--position-RB);
}

.widereceiver--text {
  color: var(--position-WR);
}

.tightend--text {
  color: var(--position-TE);
}

.kicker--text {
  color: var(--position-K);
}

.defense--text {
  color: var(--position-DEF);
}

@media screen and (max-width: 1120px) {
  .page-content__wrapper {
    max-width: 90%;
    padding: 24px;
  }
}
