/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Roboto, sans-serif;
  background-color: var(--color-background-main);
  color: var(--color-text-primary);
}

h1,
h2,
h3 {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
}

.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  -webkit-tap-highlight-color: transparent;
}
