:root {
  /* Backgrounds */
  /* --color-background-main: #1e202f;
  --color-surface-primary: #282840;
  --color-surface-secondary: #323150; */

  /* Textos */
  /* --color-text-primary: #fff;
  --color-text-secondary: #9e9caa;
  --color-text-accent-pink: #f92552;
  --color-text-accent-green: #10e0a9;
  --color-accent-pink: #f92552;
  --color-accent-green: #10e0a9;
  --color-accent-gray: #3c3b5b; */

  /* Backgrounds vCINZA */
  --color-background-main: #1e2024;
  --color-surface-primary: #222428;
  --color-surface-secondary: #292c31;

  /* Textos vCINZA */
  --color-text-primary: #fff;
  --color-text-secondary: #7c8792;
  --color-text-accent-pink: #f33349;
  --color-text-accent-green: #00f6ed;
  --color-accent-pink: #f33349;
  --color-accent-green: #00f6ed;
  --color-accent-gray: #34373c;

  /* Fontes */
  --font-base: Roboto, sans-serif;
  --font-accent-primary: 'Exo 2', sans-serif;
  --font-accent-secondary: 'Montserrat', sans-serif;

  /* Cores do duotone do HeroCarousel */
  --color-duotone-1: #f33349;
  --color-duotone-2: #9e69ee;
  --color-duotone-3: #2ec0f9; /* opções cor 3: #28afb0 #2ec0f9 */

  /* Cores de cada time */
  --team-beholders: #861816;
  --team-spirit-breakers: #e24232;
  --team-sao-sepe-brewers: #0043b4;
  --team-ijui-faceiros: #ffb612;
  --team-rome-lesionaries: #66023c;
  --team-one-kick: #9deedf;
  --team-alanbama-reginaldos: #db2c87;
  --team-rohan-riders: #017f35;
  --team-tankei: #b3995d;
  --team-valhalla-vikings: #2a6990;

  /* Fontes de cada time
    Beholders: UnifrakturCook, Dragonlord (não-Google)
    Spirit Breakers: Anton
    São Sepé Brewers: Stint Ultra Condensed
    Ijuí Faceiros: Wellfleet (lembra vagamente a fonte no capacete dos Steelers)
    Rome Lesionaries: Cinzel Decorative 
    One Kick: Russo One
    Alanbama Reginaldos: Rampart One, Yellowtail
    Rohan Riders: Ringbearer (não-Google), Uncial Antiqua, Caudex, IM Fell English SC (lembra Ringbearer)
    Tankei: Black Ops One, Bangers, Changa One, Sigmar One
    Valhalla Vikings: Vollkorn SC, IM Fell English SC (lembra Ringbearer)
  */
}
