:root {
  /* Backgrounds */
  /* --color-background-main: #1e202f;
  --color-surface-primary: #282840;
  --color-surface-secondary: #323150; */

  /* Textos */
  /* --color-text-primary: #fff;
  --color-text-secondary: #9e9caa;
  --color-text-accent-pink: #f92552;
  --color-text-accent-green: #10e0a9;
  --color-accent-pink: #f92552;
  --color-accent-green: #10e0a9;
  --color-accent-gray: #3c3b5b; */

  /* Backgrounds vCINZA */
  --color-background-main: #1e2024;
  --color-surface-primary: #222428;
  --color-surface-secondary: #292c31;

  /* Textos vCINZA */
  --color-text-primary: #fff;
  --color-text-secondary: #7c8792;
  --color-text-accent-pink: #f33349;
  --color-text-accent-green: #00f6ed;
  --color-accent-pink: #f33349;
  --color-accent-green: #00f6ed;
  --color-accent-gray: #34373c;

  /* Cores de cada time */
  --team-beholders: #8d1d1a;
  --team-spirit-breakers: #f03223;
  --team-sao-sepe-brewers: #0049ac;
  --team-ijui-faceiros: #841e8b;
  --team-rome-lesionaries: #b80049;
  --team-one-kick: #a3eddf;
  --team-alanbama-reginaldos: #f6a800;
  --team-rohan-riders: #19622c;
  --team-tankei: #78411c;
  --team-valhalla-vikings: #7e9292;
}
