.full-page-loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background-main);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
