.header {
  background-color: var(--color-surface-primary);
}

/* Áreas principais do header */
.header__top-bar,
.header__main,
.header__site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Alturas e cores específicas */
.header__top-bar {
  background-color: var(--color-surface-secondary);
  height: 48px;
}

.header__main {
  background-color: var(--color-surface-primary);
  height: 92px;
}

.header__site-nav {
  background-color: var(--color-surface-secondary);
  height: 62px;
}

/* Containers internos */
.header__top-bar-inner,
.header__main-inner {
  max-width: 1186px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__top-bar-inner,
.header__main-inner {
  justify-content: flex-end;
}

/* Controle e posicionamento do logo do site e menu dos times*/

.header__top-bar-inner {
  position: relative;
}

.header__website-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header__website-logo img {
  width: 176px;
}

.header__team-list {
  display: flex;
  height: 100%;
  list-style: none;
}

/* Itens da lista de times */
.header__team-item {
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font:
    700 0.7rem 'Exo 2',
    sans-serif;
  cursor: pointer;
  box-shadow: inset 0 -4px 0 transparent;
  transition:
    background-color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

/* Cor dinâmica no hover com custom property */
.header__team-item:hover {
  background-color: var(--color-surface-primary);
  box-shadow: inset 0 -4px 0 var(--team-color);
}
