.historical-standings {
  margin-top: 40px;
}

.historical-standings h1 {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  padding-bottom: 16px;
}

.historical-standings table {
  margin: 0 auto;
  margin-bottom: 36px;
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0;
  overflow: hidden;
}

.historical-standings table td:not(:first-child) {
  text-align: center;
}

.historical-standings table td,
.historical-standings table th {
  padding: 4px 16px;
}

.historical-standings table th {
  background-color: var(--color-accent-gray);
}

.historical-standings table tr:nth-child(even) {
  background-color: var(--color-surface-primary);
}

.historical-standings table tr:nth-child(odd) {
  background-color: var(--color-surface-secondary);
}

.historical-standings table td {
  border-left: 4px solid var(--team-color);
}

.historical-standings table td img {
  width: 32px;
  margin-right: 4px;
  vertical-align: middle;
}
