.historical-standings {
  margin-top: 40px;
}

.historical-standings h1 {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  padding-bottom: 16px;
}

.historical-standings__table table {
  margin: 0 auto;
  margin-bottom: 36px;
  border-collapse: separate;
  border-radius: 8px;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid var(--color-accent-gray);
}

.historical-standings__table table thead th {
  padding: 10px 0;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--font-base);
  color: #ffffff7e;
  background-color: var(--color-accent-gray);
}

.historical-standings__table table td:not(:first-child) {
  text-align: center;
}

.historical-standings__table table td,
.historical-standings__table table th {
  height: 48px;
  padding: 0 24px;
}

.historical-standings__table table tr:not(:last-child) td {
  border-bottom: 1px solid var(--color-accent-gray);
}

.historical-standings__table table tr:nth-child(even) {
  background-color: var(--color-surface-primary);
}

.historical-standings__table table tr:nth-child(odd) {
  background-color: var(--color-surface-secondary);
}

.historical-standings__table table td img {
  width: 32px;
  margin-right: 8px;
  vertical-align: middle;
}

.sorted-column {
  border-right: 1px solid var(--color-accent-gray);
  border-left: 1px solid var(--color-accent-gray);
  background-color: var(--color-accent-gray);
}

.historical-standings__table table thead tr th:not(:first-child) {
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .historical-standings__table {
    padding: 0 16px;
    max-width: 96%;
    overflow-x: auto;
  }

  .historical-standings__table table {
    white-space: nowrap;
  }
}
