.historical-standings {
  margin-top: 40px;
}

.historical-standings h1 {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  padding-bottom: 16px;
}

.historical-standings__table table {
  margin: 0 auto;
  margin-bottom: 36px;
  border-collapse: separate;
  /* border-radius: 4px; */
  border-spacing: 0;
  overflow: hidden;
}

.historical-standings__table table thead th {
  padding: 10px 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-text-secondary);
  font-family: var(--font-base);
}

.historical-standings__table table td:not(:first-child) {
  text-align: center;
}

.historical-standings__table table td,
.historical-standings__table table th {
  padding: 6px 16px;
}

.historical-standings__table table th {
  background-color: var(--color-background-main);
}

.historical-standings__table table tr:nth-child(even) {
  background-color: var(--color-surface-primary);
}

.historical-standings__table table tr:nth-child(odd) {
  background-color: var(--color-surface-secondary);
}

.historical-standings__table table td {
  border-left: 4px solid var(--team-color);
}

.historical-standings__table table td img {
  width: 32px;
  margin-right: 4px;
  vertical-align: middle;
}

@media screen and (max-width: 740px) {
  .historical-standings__table {
    padding: 0 16px;
    max-width: 96%;
    overflow-x: auto;
  }

  .historical-standings__table table {
    white-space: nowrap;
  }
}
