.records-page {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 1186px;
}

.records-page__regular-season-obs {
  margin: 0 auto;
  margin-top: 40px;
  font-size: 0.9rem;
  width: 100%;
  max-width: 1186px;
}

.records-page__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.records-page__header h1 {
  font-size: clamp(1.8rem, 2.5vw, 3rem);
  text-align: center;
}

.records-page__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  /* border: 1px solid lime; */
}

.record-section {
  height: fit-content;
  /* width: calc(50% - 16px); */
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--color-surface-secondary);
}

.record-section__header {
  height: 72px;
  padding: 22px 24px;
  background-color: var(--color-surface-secondary);
  font-size: 0.9rem;
  font-style: italic;
  border-left: 6px solid var(--color-accent-pink);
}

.record-section__body {
  background-color: var(--color-surface-primary);
}

.record-section__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 24px;
  border-top: 1px solid var(--color-surface-secondary);
  font-family: var(--font-accent-primary);
  text-transform: uppercase;
  position: relative;
}

.record-section__label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.record-section__label span {
  color: #ffffff83;
  font-weight: 500;
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
}

.record-section__label img {
  width: 32px;
}

.record-section__label h3 {
  font-size: 1.2rem;
  font-weight: 600;
  /* color: var(--team-color); */
  text-transform: capitalize;
}

.record-section__value h3 {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--color-text-accent-green);
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.record-section__row small {
  position: absolute;
  right: 24px;
  bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--color-text-secondary);
  text-transform: capitalize !important;
  text-align: right !important;
  font-variant-numeric: tabular-nums;
}

.record-section__row--matchup {
  padding-block: 24px !important;
  height: auto;
}

.record-section__matchup p {
  margin-left: 8px;
  padding-block: 8px;
  font-size: 0.7rem;
  /* color: var(--color-text-secondary); */
}

.matchup__team {
  display: flex;
  align-items: center;
  gap: 8px;
}

.matchup__team--winner h4,
.matchup__team--loser h4 {
  font-style: italic;
  /* opacity: 75%; */
}

.matchup__team--winner h4 {
  color: var(--color-text-accent-green);
}

.matchup__team--loser h4 {
  color: var(--color-text-accent-pink);
}

.record-section__row--matchup > .record-section__value > small {
  bottom: 16px;
}

.record-section__row--player {
  padding-block: 8px !important;
  height: auto;
}

.record-section__player-card {
  display: flex;
  align-items: center;
  width: 100%;
}

.record-section__player-avatar img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  display: block;
}

.record-section__player-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-accent-primary);
  padding-left: 16px;
  gap: 4px;
}

.record-section__player-header {
  display: flex;
  align-items: center;
}

.record-section__player-position {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.record-section__player-name h3 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 8px;
  text-transform: capitalize;
}

.record-section__player-points {
  margin-left: auto;
}

.record-section__player-points h3 {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--color-text-accent-green);
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.record-section__match-details {
  font-size: 0.8rem;
  font-variant-numeric: tabular-nums;
  color: var(--color-text-secondary);
  text-transform: none;
}

.record-section__row--player span {
  color: #ffffff83;
  font-weight: 500;
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
  margin-right: 12px;
}

.record-section__match-details > p > strong {
  /* color: var(--team-color); */
  font-weight: 600;
}

@media screen and (max-width: 1186px) {
  .records-page__content {
    grid-template-columns: repeat(1, 1fr);
    max-width: 90dvw;
  }

  .records-page__regular-season-obs {
    max-width: 90dvw;
    margin-top: 24px;
  }

  .record-section {
    max-width: 90dvw;
  }
}

@media screen and (max-width: 420px) {
  .records-page__regular-season-obs {
    padding-top: 24px;
    font-size: 0.9rem;
    width: 100%;
  }

  .record-section__player-avatar img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .record-section__header {
    height: fit-content;
    font-size: 0.8rem;
  }

  .records-page__content {
    gap: 16px;
  }

  .record-section__label img {
    width: 24px;
  }

  .record-section__label h3 {
    font-size: 1.1rem;
  }

  .record-section__value h3 {
    font-size: 1.2rem;
  }

  .record-section__row {
    padding: 0 24px 0 16px;
  }

  .record-section__row:last-child {
    padding: 0 24px 0 20px;
  }

  .record-section__matchup p {
    margin-left: 6px;
    font-size: 0.6rem;
  }

  .record-section__player-details {
    gap: 8px;
  }
}

@media screen and (max-width: 350px) {
  .record-section__label h3 {
    font-size: 0.8rem;
  }

  .record-section__value h3 {
    font-size: 1rem;
  }

  .record-section__row small,
  .record-section__match-details {
    font-size: 0.6rem;
  }

  .record-section__label img {
    width: 20px;
  }

  .record-section__row small {
    bottom: 12px;
  }

  .record-section__matchup p {
    margin-left: 6px;
    font-size: 0.4rem;
  }

  .matchup__team--loser h4,
  .matchup__team--winner h4 {
    font-size: 0.7rem;
  }
}
