.footer,
.footer__wrapper,
.footer a,
.footer__joke {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  padding-bottom: 8px;
}

.footer__wrapper {
  max-width: 1186px;
  flex-direction: column;
}

.footer a {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.footer a,
.footer a:link,
.footer a:visited {
  font-style: normal;
  color: var(--color-text-secondary);
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-text-primary);
  transition: color 0.3s ease;
}

.footer__joke {
  padding: 4px 40px;
  color: var(--color-text-secondary);
  font-size: 0.7rem;
  text-align: center;
}

@media screen and (min-width: 661px) {
  .footer {
    padding-top: 32px;
  }
}
