.mobile-page__title {
  text-align: center;
  text-transform: uppercase;
  display: none;
  padding-bottom: 24px;
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: var(--color-text-accent-green);
}

.head-to-head__form form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  font-size: 0.8rem;
}

.head-to-head__form select {
  padding: 8px;
  border-radius: 4px;
  font: var(--font-base);
  background-color: var(--color-surface-secondary);
  color: var(--color-text-primary);
  border: 1px solid var(--color-accent-gray);
}

.head-to-head__table {
  padding-top: 24px;
}

.head-to-head__team-logos {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 32px;
  width: fit-content;
  margin: 24px auto 0;
}

.head-to-head__team-logos span {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.head-to-head__team-logos img {
  width: clamp(80px, 8vw, 104px);
}

@media screen and (max-width: 1120px) {
  .mobile-page__title {
    display: block;
  }

  .head-to-head__form form {
    flex-direction: column;
    gap: 0.6rem;
  }
}
