.header__dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  background-color: var(--color-surface-primary);
  font:
    600 0.7rem 'Exo 2',
    sans-serif;
  /* font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 0.7rem; */
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 99;

  animation: fade-in 0.3s;
}

.header__dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.header__dropdown ul li {
  padding: 14px 56px 16px 32px;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid var(--color-surface-secondary);
  box-shadow: inset 4px 0 0 transparent;
  transition: box-shadow 0.3s ease;
}

.header__dropdown ul li:nth-child(10) {
  border-bottom: none;
}

.header__dropdown ul li:hover {
  box-shadow: inset 4px 0 0 var(--team-color);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
