.header__mobile-menu-icon {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  /* background-color: red; */
}

.header__mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: hsla(0, 0%, 0%, 0.7);
  z-index: 98;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.header__mobile-menu {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: -80dvw;
  width: 80dvw;
  height: 100dvh;
  background-color: var(--color-surface-secondary);
  transition: left 0.3s;
  z-index: 99;
}

.mobile-menu--open.header__mobile-menu {
  left: 0;
}

.mobile-menu--open.header__mobile-menu-overlay {
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-nav__top {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.mobile-menu-nav__top img {
  width: 120px;
}

.mobile-menu-icon__close {
  position: absolute;
  top: 16px;
  right: 8px;
  font-size: 1.4rem;
}

.header__mobile-nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  list-style: none;
  font:
    700 clamp(1.2rem, 2.5vw, 2rem) 'Exo 2',
    sans-serif;
  text-transform: uppercase;
}

.header__mobile-nav-list li {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 12px 0 12px 24px;
  cursor: pointer;
}

/* FAZ "TIMES" NÃO TER PADDING BOTTOM */
.header__mobile-nav-list li:nth-child(7) {
  padding-bottom: 0;
}

.header__mobile-team-list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  padding-bottom: 16px;
  list-style: none;
  font:
    600 1rem 'Exo 2',
    sans-serif;
}

.header__mobile-team-list li {
  width: fit-content;
  padding-block: 4px;
  padding-left: 4px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* BREAKPOINTS */
@media screen and (min-width: 961px) {
  .header__mobile-menu-icon {
    left: 24px;
  }
}

@media screen and (min-width: 1121px) {
  .header__mobile-menu-icon {
    display: none;
  }
}
